
body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

#resource-list {
    list-style-type: none;
    margin-left: 0px;
}

#resource-list li {
    border-bottom: 1px solid #999;
}

#resource-list li:last-child {
    border-bottom: none;
}

#resource-list label {
    width: 70px;
}

#resource-list .controls {
    margin-left: 90px;
}

#resource-list h4 {
    display: inline-block;
    padding-bottom: 5px;
}

#add_sched {
    margin-top: 5px;
}

#processes td {
    text-align: center;
}

.process-chart .bar {
    border: 1px solid black;
    border-right: 0px;
    height: 30px;
    text-align: center;
    color: black;
    line-height: 30px;
    font-size: 15px;
    padding: -1px 0px -1px -1px;
    font-weight: bold;
    float: left;
}

.process-chart .bar:last-child {
    
}

.process-chart .timing-pointers {
    margin-top: -3px;
    margin-bottom: -10px;
}

.process-chart .timing-pointers > span, .process-chart .timing > span {
    width: 10%;
    display: inline-block;
}

.process-chart .bars {
    padding-left: 3px;
    height: 34px;
}

.process-chart .bar:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.process-chart {
    padding-top: 10px;
}

.process-chart .bar.red {
    background-color: #dd514c;
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
}

.process-chart .bar.blue {
    background-color: #4bb1cf;
    background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#339bb9));
    background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
    background-image: linear-gradient(top, #5bc0de, #339bb9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
}

.has-tooltip {
    border-bottom: 1px dotted #ccc;
}

.tooltip {
    z-index: 1000;
}